
@{
    ViewBag.Title = "DashBoardList";
}

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm())
    {

        <form asp-controller="Assoc" asp-action="DashBoardList">
            Liste des associations: <input class="form-control" type="text" name="name" placeholder="Rechercher">
            <input class="form-control btn-primary" type="submit" value="Filtrer" style=" float: left" />
        </form>

        <table class="table table-bordered table-hover">
            <tr>
                <th>Nom</th>
            </tr>
            @foreach (string e in ViewBag.list)
            {
                <tr>
                    <td>@Html.ActionLink(e, "DashBoard", "Assoc", new { name = e }, null)</td>
                </tr>
            }

        </table>
    }
}
else
{
    <h3> Il faut être connecté pour faire ça. </h3>
}