
@{
    ViewBag.Title = "DashBoardList";
}

@using Microsoft.AspNet.Identity
@using YakaTicket.Database
@if (Request.IsAuthenticated && Check.CanCreateEvent(User.Identity.GetUserName()))
{
    using (Html.BeginForm())
    {
        if (Request.IsAuthenticated && Check.CanCreateEvent(User.Identity.GetUserName()))
        {
             <div>
                 <button type="button" class="btn btn-default">
                     @Html.ActionLink("Ajouter une association", "CreateAssoc")
                 </button>
             </div>
         }
        <table class="table table-bordered table-hover">
            <tr>
                <th>Liste des associations</th>
            </tr>
            @{ 
                if (ViewBag.list != null)
                {
                    foreach (string e in ViewBag.list)
                    {
                <tr>
                    <td>@Html.ActionLink(e, "DashBoard", "Assoc", new { name = e }, null)</td>
                </tr>
                        }
                    }
                }
        </table>
    }
}
else
{
    <h3> Il faut être connecté pour faire ça. </h3>
}