
@{
    ViewBag.Title = "ViewMembers";
}

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm())
    {
        <table class="table table-bordered table-hover">
            <tr>
                <th>Noms</th>
            </tr>
            @{
                if (ViewBag.list != null)
                {
                    foreach (string e in ViewBag.list)
                    {
                        <tr>
                            <td>e</td>
                        </tr>
                    }
                }
            }
        </table>
    }
}
else
{
    <h3> Il faut être connecté pour faire ça. </h3>
}