
@{
    ViewBag.Title = "PaymentSuccess";
}

<h2>Paiement approuvé</h2>

<div>
    <p>Merci pour votre achat : @ViewBag.item</p>
    @if (ViewBag.t)
    {
        <p>Vous pouvez récupérer le billet dans votre historique de commande ou dans votre boite mail.</p>
    }
    else
    {
        <p>Vous pouvez récupérer le billet dans votre historique de commande.</p>
    }
</div>