@model YakaTicket.Models.Event
@{
    ViewBag.Title = "ViewEvent";
}

<fieldset>
    <legend>Résumé de l'évènement</legend>
    <div>
        Nom : model.Name
    </div>
    <div>
        Description : model.Description
    </div>
    <div>
        Début de l'évènement : model.Begin
    </div>
    <div>
        Fin de l'évènement : model.End
    </div>
    <div>
        Lieu : model.Location
    </div>
    <div>
        Fermeture des inscriptions : model.Close
    </div>
    <div>
        Nombre de places externes au groupe IONIS: model.ExternPlaces
    </div>
    <div>
        Nombre de places internes au groupe IONIS : model.InternPlaces
    </div>
</fieldset>
