
:root {
    --epita-color1: #00435f;
    --epita-color2: #41b2e6;
    --epita-color3: #4fc1e5;
    --epita-color4: #fab810;
    --epita-color5: #ec6865;
    --epita-color6: #9dc8ec;
    --epita-color7: #0d2436;
    --epita-color8: #cd1619;
    --epita-color9: #37abba;
    /*From up to down, left to right on the first page of the chart*/
    --navbar-bg-color: var(--epita-color1);
    --navbar-text-color: white;
}

/*MAIN*/
body {
    background-color: #e5e5e5; /*Stolen from epita.net*/
    padding-top: 150px;
}

.btn-primary {
    color: white;
    background-color: var(--epita-color1);
    border-color: var(--epita-color1);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: var(--epita-color7);
    background-color: var(--epita-color6);
    border-color: var(--epita-color2);
}

.btn-default {
    color: var(--epita-color7);
    background-color: transparent;
    border-color: var(--epita-color3);
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: var(--epita-color7);
    background-color: var(--epita-color6);
    border-color: var(--epita-color2);
}


/*NAVBAR*/
.navbar {
    min-height: 100px;
}

.navbar-brand {
    background: url(logo-epita-hd.png);
    background-size: 100% 100%;
    height: 100px;
    width: 147px;
}

.navbar-inverse {
    background-color: var(--navbar-bg-color);
    border-color: #080808;
}

    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus {
        color: var(--epita-color2);
    }

    .navbar-inverse .navbar-brand {
        color: var(--navbar-text-color);
    }

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: var(--epita-color2);
    }

    .navbar-inverse .navbar-nav > li > a {
        color: var(--navbar-text-color);
    }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: var(--epita-color6);
    }

    .navbar-inverse .navbar-toggle {
        border-color: var(--epita-color2);
    }

        .navbar-inverse .navbar-toggle:hover,
        .navbar-inverse .navbar-toggle:focus {
            background-color: #999999;
        }

.navbar-collapse > ul {
    padding: 30px;
}
.field-validation-error {color:#f00}