@{
    ViewBag.Title = "About";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/customMain.css"> <!--Link to our layer of css-->
</head>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
