
@{
    ViewBag.Title = "Download";
}

<h2>@ViewBag.Title</h2>

<body>
    <div>
        @foreach (var item in ViewData.Model)
        {
            @Html.ActionLink((string)item, "DownloadFile", new { filename = item });
            <br />
        }
    </div>
</body>
