@{
    ViewBag.Title = "Accueil";
}
<div class="row">

    <div class="jumbotron">
        <h1>Evénements</h1>
        <p class="lead">Promotion des événements</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Calendrier</h2>
        <p>
            Calendrier des événements
        </p>
    </div>
</div>
