@{
    ViewBag.Title = "Accueil";
}
<script type='text/javascript' src="~/Content/daypilot-all.min.js"></script>

<div class="row">

    <div class="jumbotron">
        <h1>Evénements</h1>
        <p class="lead">Promotion des événements</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Calendrier</h2>


        @Html.DayPilotCalendar("dp", new DayPilotCalendarConfig
        {
            BackendUrl = Url.Action("Backend", "Calendar")
        })
    </div>
</div>
