@{
    ViewBag.Title = "Accueil";
}
<script type='text/javascript' src="~/Content/daypilot-all.min.js"></script>

<div class="row">

    <div class="jumbotron">
        <h1>Evénements</h1>
        <p class="lead">Promotion des événements</p>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://eventsbyambrosia.com/wp-content/uploads/2016/06/events.jpg">
                </div>

                <div class="item">
                    <img src="http://www.alfredpolo.com/wp-content/uploads/2016/03/event.jpg">
                </div>

                <div class="item">
                    <img src="https://pepseo.fr/wp-content/uploads/2015/03/Live-Events-01.jpg">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Calendrier</h2>
        <link rel="stylesheet" type="text/css" href="~/Content/calendar.css">
        @using DayPilot.Web.Mvc;
        @using DayPilot.Web.Mvc.Enums.Calendar;
        @Html.DayPilotCalendar("dp", new DayPilotCalendarConfig
        {
            BackendUrl = Url.Action("Backend", "Calendar"),
            ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,
            Theme = "epita"
        })
    </div>
</div>
